.authorSection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--spacing-super-small);
    color: var(--color-text-neutral);
    font-size: var(--font-size-small);
    letter-spacing: 0.08em;
    text-transform: uppercase;

    .author {
        font-weight: var(--font-weight-medium);
        text-transform: capitalize;
    }

    .separator {
        opacity: 0.6;
    }

    .dateIcon {
        flex-shrink: 0;
    }
}
