.authorSection {
    font-size: var(--font-size-medium);
    color: var(--color-text);
    .author {
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-large);
        margin-bottom: var(--spacing-super-small);
    }

    .rightContainer {
        display: flex;
        gap: var(--spacing-super-small);
        font-size: var(--font-size-small);
    }
}
