.button {
    outline: none;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    transition: 0.2s all ease-in-out;
    padding: var(--spacing-small) var(--spacing-extra-large);
    color: var(--color-text);

    &.primary {
        background-color: var(--color-primary);
        color: var(--color-text-on-primary);
        text-transform: uppercase;
        font-size: var(--font-size-medium);

        &:hover {
            background-color: var(--color-primary-dark);
        }
    }

    &.border {
        border: var(--width-separator-thin) solid var(--color-secondary);
        color: var(--color-secondary);
        font-size: var(--font-size-medium);

        &:hover {
            border-color: var(--color-accent);
            text-decoration: unset;
            color: var(--color-accent);
        }
    }
    &.disabled {
        opacity: 0.33;
        cursor: not-allowed;
    }

    &.icon {
        display: flex;
        align-items: center;
        border-radius: var(--border-radius-extra-small);
        background-color: rgba(0, 0, 0, 0.2);
        line-height: 1;
        color: var(--color-text-on-dark);
        &:hover {
            background-color: var(--color-accent);
        }
    }
}
