.textArea {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-ultra-small);
    justify-content: space-between;
    width: 100%;

    .input {
        padding: var(--spacing-ultra-small);
    }
}
