.tab {
    width: 33%;
}
.active {
    padding: var(--spacing-extra-small) var(--spacing-small);
    color: var(--color-text-on-dark);
    background-color: var(--color-primary);
}

.tabList {
    display: flex;
    background-color: var(--color-background-gray);
    justify-content: space-between;
    padding: var(--spacing-extra-small) var(--spacing-small);
}
