.form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);

    .inline {
        display: flex;
        gap: var(--spacing-large);
    }

    .textArea {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-ultra-small);
        justify-content: space-between;
        width: 100%;

        {
            padding: var(--spacing-ultra-small);
        }
    }
}
