.form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);

    .inline {
        display: flex;
        gap: var(--spacing-large);
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
    .textArea {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-ultra-small);
        justify-content: space-between;
        width: 100%;
    }
    .submitButton {
        align-self: flex-start;
    }
}
