.vacancies {
    padding: var(--spacing-enormous) 0 var(--spacing-universal) 0;

    .pageContent {
        gap: var(--spacing-extra-large) !important;
    }

    .vacancyDescription {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-large);

        .contactCallout {
            display: flex;
            gap: var(--spacing-small);
            border-left: var(--spacing-tiny) solid var(--color-primary);
            background-color: var(--color-primary-light);
            padding: var(--spacing-medium) var(--spacing-large);

            .calloutIcon {
                flex-shrink: 0;
                margin-top: var(--spacing-tiny);
                color: var(--color-primary);
                font-size: var(--font-size-large);
            }

            .link {
                color: var(--color-text-link);
                font-weight: var(--font-weight-bold);

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
