.contactPage {
    gap: var(--spacing-enormous);

    .contact {
        .contactContent {
            .contactChildren {
                flex-direction: row !important;
                gap: var(--spacing-large);
                .contactForm {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-large);
                }
            }
        }
    }
    .concern {
        .concernContent {
            .concernChildren {
                gap: var(--spacing-large);

                .contactTypes {
                    display: flex;
                    gap: var(--spacing-large);

                    .contactItem {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                        flex-wrap: wrap;
                        gap: var(--spacing-ultra-small);

                        .links {
                            display: flex;
                            gap: var(--spacing-small);
                        }
                    }
                }
            }
        }
    }
    .faq {
        .faqContent {
            .faqChildren {
                gap: var(--spacing-large);
            }
        }
    }
}
