.contactPage {
    gap: var(--spacing-enormous);

    .contact {
        .contactContent {
            .contactChildren {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
                gap: var(--spacing-extra-large);
                .contactForm {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-large);
                }
            }
        }
    }
    .feedback {
        .feedbackContent {
            .feedbackChildren {
                gap: var(--spacing-extra-large);
            }
        }
    }
    .concern {
        .concernContent {
            .concernChildren {
                gap: var(--spacing-large);

                .contactTypes {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
                    gap: var(--spacing-extra-large);

                    .contactItem {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                        flex-wrap: wrap;
                        gap: var(--spacing-ultra-small);

                        .links {
                            display: flex;
                            gap: var(--spacing-small);
                        }
                    }
                }
            }
        }
    }
    .faq {
        .faqContent {
            .faqChildren {
                gap: var(--spacing-large);
            }
        }
    }
    .getInTouch {
        background-color: var(--color-banner);
        .getInTouchContent {
            .getInTouchChildren {
                display: grid;
                grid-template-columns: minmax(25rem, 60%) minmax(15rem, 40%);
                grid-gap: var(--spacing-medium);
                color: var(--color-text-on-dark);
                padding: var(--spacing-enormous) 0;
                padding-bottom: var(--spacing-universal);

                .heading {
                    color: var(--color-text-on-dark);
                }
            }
        }
    }
    .mapContainer {
        margin: 0 auto;
        margin-top: calc(-1 * var(--spacing-universal));
        max-width: var(--width-page-max);
        width: 100%;
        z-index: 1;
        .map {
            outline: 0;
            border: var(--width-separator-thin) solid var(--color-secondary);
            width: 100%;
            height: 100%;
            min-height: 20rem;
        }
    }
}
