.form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
    border: 1px solid black;
    padding: var(--font-size-mega-large);
    margin-top: calc(-1 * (3 * var(--spacing-universal)));
    background-color: var(--color-background);
    max-width: 50rem;
    align-self: center;
    z-index: 9;

    .formHeader {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-large);
        align-items: center;
    }
    .content {
        display: flex;
        gap: var(--font-size-extra-large);
    }
    .submitButton {
        align-self: flex-start;
    }
}
