.resourcesPage {
    padding-bottom: var(--spacing-galactic);
    gap: var(--spacing-extra-large);

    .section {
        .content {
            .resourcesChildren {
                gap: var(--spacing-medium);
            }
        }
    }
}
