.page {
    gap: var(--spacing-extra-large);
    .aboutContent {

    }
    .mission {
        .missionContent {
            .missionChildren {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
                gap: var(--spacing-extra-large);

                .description {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-large);

                    .heading {
                        align-self: flex-start;
                    }
                }
            }
        }
    }
}
