.page {
    gap: var(--spacing-extra-large);
    .mission {
        .missionContent {
            .missionChildren {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
                gap: var(--spacing-extra-large);

                .description {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-large);
                    line-height: 2;

                    .heading {
                        align-self: flex-start;
                        padding: 0 var(--spacing-super-small);
                    }
                }
            }
        }
    }
}
