.page {
    display: flex;
    gap: var(--spacing-galactic);
    padding-bottom: var(--spacing-galactic);
    padding-top: unset !important;
    flex-direction: column;

    .introduction {
        .introductionContent {
            .infoCards {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
                gap: var(--spacing-large);
            }
            .introText {
                font-size: var(--font-size-large);
                line-height: 1.8;
            }

            .bottomContent {
                .introText {
                    grid-row: 1 / span 2; /* take both rows */
                    grid-column: 1;
                    max-width: 50rem;
                }
                display: grid;
                grid-template-columns: 1.5fr 1fr;
                grid-template-rows: auto auto;
                gap: var(--spacing-large);
                align-items: flex-start;

                .keyFigureOne {
                    grid-column: 2;
                    justify-self: start; /* align left */
                    width: 20rem;
                }

                .keyFigureTwo {
                    grid-column: 2;
                    justify-self: end; /* align right */
                    width: 20rem;
                }

                @media (max-width: 768px) {
                    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

                    .keyFigureOne {
                        grid-column: unset;
                        justify-self: center;
                    }
                    .keyFigureTwo {
                        grid-column: unset;
                        justify-self: center;
                    }
                }
            }
        }
    }

    .nrcsPlanChildrenContainer {
        display: flex;
        flex-direction: column;
        padding: var(--spacing-super-large) var(--spacing-mega-large);
        background-color: var(--color-background-dark);
        color: var(--color-text-on-dark);
    }

    .callToActions {
        padding: var(--spacing-galactic) 0;
        background-color: var(--color-primary-light);

        .callToActionsContent {
            .callToActionsChildren {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
                gap: var(--spacing-mega-large);
            }
        }
    }
    .nrcsOfficer {
        .nrcsOfficerContent {
            .nrcsOfficerChildren {
                flex-direction: row;
                .officerCard {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex-shrink: 0;
                    background-color: var(--color-background-gray);
                    padding: var(--spacing-medium);
                    gap: var(--spacing-medium);

                    .profileImage {
                        align-self: center;
                        height: 140px;
                        width: 140px;
                        border-radius: 100%;
                        overflow: hidden;
                    }

                    .description {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: var(--spacing-extra-small);

                        .title {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            color: var(--color-primary-darker);
                        }
                        .contactLink {
                            text-transform: unset;
                            padding: var(--spacing-ultra-tiny);
                        }
                    }
                }
                .radioProgram {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-medium);
                    flex-grow: 1;
                }
            }
        }
    }
}

.seeMoreButton {
    display: flex;
    justify-content: center;
}
