.page {
    display: flex;
    gap: var(--spacing-galactic);
    padding-bottom: var(--spacing-galactic);
    padding-top: unset !important;
    flex-direction: column;

    .introduction {
        .introductionContent {
            .infoCards {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
                gap: var(--spacing-large);
            }

            .bottomContent {
                display: grid;
                grid-template-columns: 1.5fr 1fr;
                grid-template-rows: auto auto;
                gap: var(--spacing-large);
                align-items: flex-start;

                .introText {
                    font-size: var(--font-size-large);
                    grid-row: 1 / span 2; /* take both rows */
                    grid-column: 1;
                    max-width: 50rem;
                    line-height: 1.8;
                }

                .keyFigureOne {
                    grid-column: 2;
                    justify-self: start; /* align left */
                    width: 20rem;
                }

                .keyFigureTwo {
                    grid-column: 2;
                    justify-self: end; /* align right */
                    width: 20rem;
                }

                @media (max-width: 768px) {
                    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

                    .keyFigureOne {
                        grid-column: unset;
                        justify-self: center;
                    }
                    .keyFigureTwo {
                        grid-column: unset;
                        justify-self: center;
                    }
                }
            }
        }
    }

    .recentNewsChildrenContainer {
        display: flex;
        flex-direction: column;
        padding: var(--spacing-super-large) var(--spacing-mega-large);
        background-color: var(--color-background-dark);
        color: var(--color-text-on-dark);
    }

    .ourWorks {
        .worksContent {
            .worksChildren {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
                gap: var(--spacing-mega-large);
            }
        }
    }
}
