.navbar {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100vw;
    z-index: 100000;
    border-bottom: var(--width-separator-thin) solid var(--color-separator);
    background-color: var(--color-background);

    .upperContent {
        display: flex;
        background-color: var(--color-background);
        border-bottom: var(--width-separator-thin) solid var(--color-separator);

        .content {
            display: flex;
            width: 100%;
            max-width: var(--width-page-max);
            padding: 0 0 0 var(--spacing-mega-large);
            margin: auto;

            .imageContainer {
                display: flex;
                justify-content: flex-start;
                flex-grow: 1;

                .image {
                    height: 2.2rem;
                    width: auto;
                    object-fit: contain;
                    flex-shrink: 0;
                }
            }

            .rightContainer {
                display: flex;
                flex-shrink: 0;

                .expandedButton {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: var(--spacing-medium);
                    border-left: var(--width-separator-thin) solid var(--color-separator);
                    gap: var(--spacing-ultra-small);

                }

                .hotlineContainer {
                    align-items: flex-end;

                    .linkDescription {
                        display: block;
                        font-size: var(--font-size-small);
                    }

                    .hotline {
                        display: flex;
                        align-items: center;
                    }
                }

                .donateButton {
                    background-color: var(--color-primary);
                }

                .menu {
                    display: none;
                    line-height: 100%;
                    font-size: var(--font-size-extra-large);
                    padding: var(--spacing-small) var(--spacing-extra-large);
                }
            }
        }
    }

    .lowerContent {
        width: 100%;
        padding: 0 var(--spacing-mega-large);
        max-width: var(--width-page-max);
        margin: auto;

        .links {
            display: flex;
            justify-content: space-between;
            text-align: center;
            padding: var(--spacing-super-small) 0;
            color: var(--color-text-black);
            gap: var(--spacing-small);
        }

        .link {
            padding: var(--spacing-super-small) 0;
            text-transform: capitalize;
            text-align: center;
        }
    }

    .drawer {
        display: none;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        height: 5rem;
        padding: 0;

        .upperContent {
            height: 100%;
            z-index: 1;

            .content {
                padding: 0;

                .imageContainer {
                    padding: var(--spacing-tiny) var(--spacing-super-large);
                    flex-grow: 1;
                }
                .rightContainer {
                    flex-shrink: 0;

                    .hideableIcon {
                        display: none;
                    }

                    .menu {
                        display: block;
                    }
                }
            }
        }

        .lowerContent {
            display: none;

            .links {
                &.navShown {
                    display: none;
                }
            }
        }

        .drawer {
            display: flex;
            position: absolute;
            top: 5rem;
            left: 0;
            flex-direction: column;
            transform: translateY(-100%);
            transition: 200ms all ease-in-out;
            z-index: -1;
            background-color: var(--color-background);
            border-bottom: var(--width-separator-thin) solid var(--color-separator);
            padding: var(--spacing-large);
            width: 100%;
            gap: var(--spacing-medium);

            &.navShown {
                transform: translateY(0);
            }

            .drawerLinkHeader {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;

                .drawerLinkHeaderLabel {
                    text-align: left;
                    flex-grow: 1;
                    font-weight: var(--font-weight-medium);
                }

                .drawerLinkHeaderButton {
                    flex-shrink: 0;
                }
            }

            .link {
                text-align: left;
                text-transform: capitalize;
            }
        }
    }
}

.popupLink {
    padding: var(--spacing-super-small) var(--spacing-medium)!important;
    text-transform: capitalize!important;
}
