.otherArticleContent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--spacing-small);

    .articleCardImage {
        grid-column: span 6;
        height: 24rem;
    }

    .articleCardDescription {
        grid-column: span 6;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .dateDescription {
            color: var(--color-text-neutral);
        }

        .authorSection {
            font-size: var(--font-size-small);

            .author {
                color: var(--color-text-black);
            }
        }

    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;

        .articleCardImage {
            height: 28rem;
            grid-column: 1 / -1;
        }

        .articleCardDescription {
            grid-column: 1 / -1;
            gap: var(--spacing-small);
        }

    }

    &.workArticleContent {
        grid-template-columns: 1fr;

        .articleCardImage {
            height: 28rem;
            grid-column: 1 / -1;
        }

        .articleCardDescription {
            grid-column: 1 / -1;
            gap: var(--spacing-small);
        }
    }
}
