.section {
    display: flex;
    flex-direction: column;
    padding: 0 var(--spacing-super-large);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;

    .headingSection {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacing-small);

        .searchInput {
            flex-shrink: 0;
            max-width: 20rem;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: stretch;

            .searchInput {
                max-width: 100%;
            }
        }
    }


    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--spacing-super-large);
        flex-grow: 1;
        margin: 0 auto;
        max-width: var(--width-page-max);
        width: 100%;

        .heading {
            text-align: left;
            align-self: flex-start;
            padding: 0 var(--spacing-super-small);
        }

        .childrenContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: var(--spacing-enormous);

            &.withoutGap {
                gap: 0;
            }
        }
    }

    &.visible {
        opacity: 1;
        transform: translateY(0);
    }
}