.inputContainer {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-ultra-small);
    justify-content: space-between;
    width: 100%;

    .input {
        padding: var(--spacing-extra-small);
        background-color: transparent;
        font-family: var(--font-text);
        border: var(--width-separator-thin) solid var(--color-separator);
        font-size: var(--font-size-small);
        color: var(--color-text-neutral);
    }

}
