.footer {
    display: flex;
    flex-direction: column;
    min-height: 30rem;

    .topContainer {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        gap: var(--spacing-large);
        width: 100%;
        max-width: var(--width-page-max);

        .leftContainer {
            display: flex;
            flex-basis: 40%;
            flex-direction: column;
            gap: var(--spacing-medium);

            .image {
                width: 5rem;
                object-fit: contain;
            }

            .content {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-small);

                .description {
                    font-size: var(--font-size-medium);
                }
            }
            .icons {
                display: flex;
                gap: var(--spacing-extra-small);

                .icon {
                    transition: all 200ms ease-in-out;

                    &:hover {
                        color: var(--color-primary);
                    }
                }
            }
            .donateButton {
                align-self: flex-start;
            }
        }

        .linkGroup {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-large);

            .links {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-medium);

                .link {
                    display: flex;
                    align-items: baseline;
                    text-transform: unset;
                    padding: 0;
                    font-weight: var(--font-weight-regular);
                    gap: var(--spacing-small);
                }
            }
        }
    }

    .mid {
        flex-grow: 1;
    }

    .bottomContainer {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        font-weight: var(--font-weight-bold);
        padding: var(--spacing-large);
    }
}
