.footer {
    display: flex;
    flex-direction: column;
    min-height: 30rem;
    border-top: var(--width-separator-thin) solid var(--color-separator);

    .topContainer {
        display: grid;
        grid-template-columns: 2.5fr 1fr 1fr;
        grid-template-rows: auto auto;
        margin: 0 auto;
        flex-wrap: wrap;
        gap: var(--spacing-large);
        padding: var(--spacing-mega-large) var(--spacing-super-large);
        width: 100%;
        max-width: var(--width-page-max);

        .leftContainer {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: var(--spacing-medium);

            .imageWrapper {
                height: 4rem;
                width: auto;

                .image {
                    object-fit: contain;
                }
            }

            .content {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-small);

                .description {
                    font-size: var(--font-size-medium);
                }
            }
            .icons {
                display: flex;
                gap: var(--spacing-extra-small);

                .icon {
                    transition: all 200ms ease-in-out;

                    &:hover {
                        color: var(--color-primary);
                    }
                }
            }
            .donateButton {
                align-self: flex-start;
            }
        }

        .linkGroup {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-large);

            .links {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-medium);

                .link {
                    display: flex;
                    align-items: baseline;
                    text-transform: unset;
                    padding: 0;
                    font-weight: var(--font-weight-regular);
                    gap: var(--spacing-small);
                }

                .phoneNumbers {
                    display: flex;
                    flex-wrap: wrap;
                    gap: var(--spacing-small);
                }
            }
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        }
    }

    .mid {
        flex-grow: 1;
    }

    .bottomContainer {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        font-weight: var(--font-weight-bold);
        padding: var(--spacing-large);
    }
}
