.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .navbar {
        flex-shrink: 0;
    }

    .mainContent {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-top: var(--spacing-enormous);
        padding-bottom: var(--spacing-extra-large);
    }

    .footer {
        flex-shrink: 0;
    }
}
