.getInvolvedCard {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-medium) var(--spacing-large);
    background-color: var(--color-background-blue);
    gap: var(--spacing-extra-large);

    .content {
        display: flex;
        align-items: center;
        gap: var(--spacing-small);

        .redDot {
            width: 0.5rem;
            height: 0.5rem;
            background-color: var(--color-primary);
            border-radius: var(--border-radius-extra-small);
            flex-shrink: 0;
        }
    }

    &.transparent {
        background-color: unset;
    }
}
