.table {
    /* NOTE: This will ensure that the z-index in
     * children elements doesn't affect rest of the page */
    position: relative;
    z-index: 0;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-size: inherit;

    @media (max-width: 768px) {
        font-size: var(--font-size-small);
    }
    .headerRow {
        .headerCell {
            padding: var(--spacing-medium);
            text-align: left;
            @media (max-width: 768px) {
                padding: var(--spacing-small);
            }
        }
    }

    .row {
        .cell {
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            padding: var(--spacing-medium);
            @media (max-width: 768px) {
                padding: var(--spacing-small);
            }
            overflow: hidden;
        }
    }
}
