.pageContent {
  display: grid !important;
  grid-template-columns: 3fr 2fr;
  gap: var(--spacing-small);
  padding: 1rem;
  .radioProgramsSection {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
    .radioProgramsList {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-small);
    }
  }
  .radioProgramDescriptions{
    white-space: pre-line;
  }
  .latestPostsSection {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    .latestPostsHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: var(--spacing-small);
    }
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
  