.pageContent {
  padding: 1rem;
  .radioProgramsSection {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
    .radioProgramsList {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-small);
    }
  }
  .radioProgramDescriptions{
    white-space: pre-line;
  }

}
  