.pageContent {
    padding: 1rem;

    .radioProgramsSection {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-small);

        .radioProgramsList {
            display: flex;
            max-width: 60rem;
            flex-direction: column;
            padding-top: var(--spacing-large);
            gap: var(--spacing-medium);
        }
    }
    .radioProgramDescriptions {
        white-space: pre-line;
    }
}
