.page {
    gap: var(--spacing-extra-large);

    .responsibilities {
        .responsibilitiesContent {
            .responsibilitiesChildren {
                display: grid !important;
                grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
                gap: var(--spacing-extra-large);
            }
        }
    }

    .coverImageContent {
        .coverImage {
            height: 35rem;
        }
    }

    .departments {
        .departmentsContent {
            .departmentsChildren {
                display: grid !important;
                grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
                gap: var(--spacing-extra-large);

                .projectCards {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
                    gap: var(--spacing-mega-large);
                    margin-bottom: var(--spacing-small);
                    .projectCard {
                        max-width: 274px;
                    }
                    .projectImage {
                        height: 10rem;
                    }
                }
            }
        }
    }
    .resources {
        .resourcesContent {
            .resourcesChildren {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
                gap: var(--spacing-mega-large);
            }
        }
    }
    .contact {
        padding: 0;
        .contactContent {
            .contactChildren {
                display: flex;
                flex-direction: row;
                align-items: center;
                @media (max-width: 768px) {
                    flex-direction: column;
                    align-items: start;
                }
                justify-content: start;
                gap: 0;
                .contactButton {
                    text-transform: unset;
                }
            }
        }
    }
}
