.audioPlayer {
  padding: var(--spacing-medium);
  border-radius: var(--border-radius-extra-small);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  audio {
    min-width: 300px;
    width: 100%;
  }
  &.withBackground {
    background-color: var(--color-background-gray);
    color: var(--color-text-on-primary);
  }
}
