.audioPlayer {
    padding: var(--spacing-medium);
    border-radius: var(--border-radius-extra-small);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-ultra-small);
    audio {
        min-width: 300px;
        width: 100%;
        margin: var(--spacing-extra-small) 0;
        @media (max-width: 768px) {
            min-width: 100%;
        }
    }

    .publishedDate {
        color: var(--color-text-neutral);
    }
    &.withBackground {
        background-color: #f9f9f9;
        color: var(--color-text-on-primary);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.12);
    }
}
