.whereToDonateDescription {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  .whereToDonateItems {
    line-height: 2;
    .link {
      display: flex;
      align-items: baseline;
      text-transform: unset;
      padding: 0;
      font-weight: var(--font-weight-regular);
      gap: var(--spacing-small);
    }
    ul {
      padding-left: var(--spacing-extra-large);
    }
  }
}
