.tab {
  width: 100%;
}
.tabPanel {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  .content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
  }
}

.list {
  padding-left: var(--spacing-extra-large);
  line-height: 2;
}
