.tabPanel {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-mega-large);

    .content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-medium);
    }

    .list {
        padding-left: var(--spacing-large);
        line-height: 1.5;
    }
}
